<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{{siteTitle}}{% if pageTitle %} - {{ pageTitle }}{% endif %}</title>

<!-- HTML Meta Tags -->
<meta name="description" content=" A standards-respecting starter kit for Eleventy. Go Indie. ">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://www.conveyconsciousness.com/">
<meta property="og:type" content="website">
<meta property="og:title" content="Home">
<meta property="og:description" content=" A standards-respecting starter kit for Eleventy. Go Indie. ">
<meta property="og:image" content="https://github.com/lrnecgcysiam/normal.learning.website/blob/main/src/assets/img/IMG_0906.jpg">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="conveyconsciousness.com">
<meta property="twitter:url" content="https://www.conveyconsciousness.com/">
<meta name="twitter:title" content="Home">
<meta name="twitter:description" content=" A standards-respecting starter kit for Eleventy. Go Indie. ">
<meta name="twitter:image" content="https://github.com/lrnecgcysiam/normal.learning.website/blob/main/src/assets/img/IMG_0906.jpg">

<!-- Meta Tags Generated via https://www.opengraph.xyz -->
      
	{%- if content-description != "" and content-description != nil -%}
		<meta name="Description" content="{{content-description}}">
	{%- endif -%}
	{%- if draft == true -%}
        <meta name="robots" content="noindex">
	{%- endif %}
	
    {% comment %} RSS/Atom feed {% endcomment %}
	<link type="application/atom+xml" rel="alternate" href="/feed.xml" title="Articles by {% getOwnerInfo 'name' %}" />
    
    <script defer data-domain="smix.netlify.app" src="https://plausible.io/js/plausible.js"></script>

	<link rel="stylesheet" href="/assets/css/style.css">

    {% block pageJavascript %}{% endblock %}
</head>
